@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-black text-white text-base;
}
